<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <div id="mainDiv">
        <div id="headingDiv">
            <div id="logoDiv">

            </div>
            <div id="headTextDiv">

            </div>
        </div>
        <div id="trackingCurrency">
            <div id="sampleCard" class="currencyCard">

            </div>
        </div>


        <div id="marketOverview"> <!--Shows the current spikes in the currency trading-->
            <div id="marketTitle"> <!--The title, it will change based on the coin selected. Thinking of stack to use for this-->

            </div>

            <div id="statsGraph"> <!-- displays the graph on that currency based over a certain period of time-->
                <div id="graphBoard">

                </div>
            </div>

            <div id="selectionMenu">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>


        </div>

    </div>




</body>
</html>